html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(107, 142, 35);;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
}


#menu {
    background-color: gray;
}

section {
    padding: 20px;
    background-color: #f1f1f1;
}

.ellipse {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 1em auto;
    width: 40%;
    height: 30%;
    overflow: hidden;
}

.ellipse img {
    width: 99%;
    height: 99%;
    border-radius: 50%;
    display: block;
    border: 1px solid #fff;
}

.ellipse:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact:link,
.contact:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(107, 142, 35);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.portfolio:link,
.portfolio:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(107, 142, 35);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.portfolio:hover,
.portfolio:active {
    background-color: rgb(107, 142, 35);
    color: white;
}

.catchword-header {
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    text-align: justify;
}

.reego-footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.catchword-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color:#2c595d;  /*rgb(107, 142, 35);#2c595d;*/
    color: white;
    text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    /* Adjust styles for smaller screens */
    .topnav a {
        float: none;
        text-align: left;
    }

    .topnav {
        text-align: center;
    }

    .topnav .icon {
        display: block;
    }
}

.color-red {
    color: #d13543;
}

.color-yellow {
    color: #eab913;
}

.color-blue {
    color: #2da8b3;
}